<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form th:action="@{/users/{userId}/update(userId=${user.getId()})}"
      th:method="POST" th:object="${user}" enctype="multipart/form-data">
    <label for="username">Username:
        <input id="username" type="text" name="username" th:value="*{getUsername()}">
    </label>
    <br>
    <label for="firstname">First name:
        <input id="firstname" type="text" name="firstname" th:value="*{getFirstname()}">
    </label>
    <br>
    <label for="lastname">Last name:
        <input id="lastname" type="text" name="lastname" th:value="*{getLastname()}">
    </label>
    <br>
    <label for="birthDate">Birth date:
        <input id="birthDate" type="date" name="birthDate" th:value="*{getBirthDate()}">
    </label>
    <br>
    <label for="password">Password:
        <input id="password" type="password" name="password">
    </label>
    <br>
    <div th:if="${user.getImage()}">
        <img width="50" th:src="@{/api/v1/users/{userId}/avatar(userId=${user.getId()})}" alt="User image">
    </div>
    <br>
    <label for="image">Image:
        <input id="image" type="file" name="image">
    </label>
    <br>
    <div th:each="role : ${roles}">
        <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.getRole()}">
        <label th:for="${role}" th:text="${role}">Role name</label>
    </div>
    <div>
        <label for="company">Company:
            <select name="companyId" id="company">
                <option th:each="company : ${companies}"
                        th:value="${company.getId()}"
                        th:selected="${company.getId() == user.getCompany().getId()}"
                        th:text="${company.getName()}">
                    Company
                </option>
            </select>
        </label>
    </div>
    <br>
    <button type="submit" th:text="Update"></button>
</form>

<form th:action="@{/api/v1/users/{userId}/delete(userId=${user.getId()})}"
      th:if="${user.getRole().name() == 'ADMIN'}" method="POST">
    <button>Remove</button>
</form>
</body>
</html>